html {
  font-size: clamp(8px, 1.5dvw, 10px);
  user-select: none;
  touch-action: pan-x pan-y;
}
body {
  color: var(--c-txt);
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  line-height: 1.5;
  position: relative;
  z-index: 0;

  &.is-active {
    overflow: hidden !important;
  }
}

.page-content {
  background-color: #ffffff;
  box-shadow: 0 0 0.1rem #333333;
  height: 100%;
  width: min(100%, var(--w-pc));
  margin: 0 auto;
  min-height: 100dvh;
  position: relative;
  z-index: 0;

  header#mv {
    margin-bottom: -1.6rem;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
  }
  main {
    background-color: #ffffff;
    border-top-right-radius: 1.6rem;
    border-top-left-radius: 1.6rem;
    min-height: 100dvh;
    padding: 3.2rem 1.6rem 3.2rem;
    position: relative;
    z-index: 1;

    section {
      &:not(:last-child) {
        border-bottom: 0.1rem solid var(--c-gray);
        margin-bottom: 3.2rem;
        padding-bottom: 3.2rem;
      }

      > *:not(:last-child) {
        margin-bottom: 2.4rem;
      }

      .sec-title {
        color: var(--c-primary);
        font-size: 2.4rem;
        font-weight: 700;
        margin-bottom: 2.6rem;
        position: relative;
        text-align: center;

        &::before {
          background-color: var(--c-primary);
          content: "";
          display: block;
          height: 0.2rem;
          width: 25%;
          position: absolute;
          bottom: -0.25em;
          left: 50%;
          transform: translate(-50%, 0);
        }
      }
      .container {
        > *:not(:last-child) {
          margin-bottom: 0.8rem;
        }
        .container-title {
          border-left: 0.4rem solid var(--c-primary);
          padding: 0.2em 0 0.2em 0.5em;
          font-size: 2rem;
          font-weight: 700;
          margin-bottom: 1.6rem;
        }
      }
    }
  }
}

/* button */
.btn-primary {
  background-color: var(--c-primary);
  border-radius: 0.4rem;
  color: #ffffff;
  display: inline-block;
  padding: 1em 2em;
  position: relative;
  text-align: center;
  width: fit-content;

  &:not([aria-disabled="true"]) {
    transition: opacity 0.4s;

    &:hover {
      opacity: 0.7;
    }
  }
}
.btn-secondary {
  border: 0.1rem solid var(--c-primary);
  border-radius: 0.4rem;
  color: var(--c-primary);
  display: inline-block;
  padding: 1em 2em;
  position: relative;
  text-align: center;
  width: fit-content;

  &:not([aria-disabled="true"]) {
    transition: opacity 0.4s;

    &:hover {
      opacity: 0.7;
    }
  }
}

.btn-icn {
  position: relative;

  &::before {
    font-family: "Material Symbols Outlined";
    font-weight: normal;
    font-style: normal;
    font-size: 1.5em;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    position: absolute;
    top: 50%;
    right: 1em;
    transform: translate(-50%, -50%);
  }
}
.btn-icn-arrow-back::before {
  content: "\e5e1";
}

/* card */
.card {
  box-shadow: 0 0 0.1rem #333333;
  border-radius: 0.4rem;
  overflow: hidden;

  .card-content {
    padding: 1.6rem;

    .title {
      font-size: 1.6rem;
      font-weight: 700;
    }
  }
  .card-link {
    padding: 0 1.6rem 1.6rem;

    a {
      color: var(--c-primary);
      display: block;
      text-align: center;
      text-decoration: underline;
      width: 100%;
    }
  }
}

/* grid */
.row {
  display: grid;
  gap: 0.8rem;
  grid-template-columns: repeat(12, 1fr);

  .col {
    width: 100%;

    &:hover {
      opacity: 0.9;
    }

    &.s2 {
      grid-column: span 2;
    }
    &.s3 {
      grid-column: span 3;
    }
    &.s4 {
      grid-column: span 4;
    }
    &.s6 {
      grid-column: span 6;
    }
    &.s12 {
      grid-column: span 12;
    }
  }
}

@media (max-width: 600px) {
  .row {
    .col {
      &.m6 {
        grid-column: span 6 !important;
      }
      &.m12 {
        grid-column: span 12 !important;
      }
    }
  }
}

/* width */
.w-100 {
  width: 100% !important;
}
